@model CarDealership.Models.AdminAddVehicleViewModel
@{
    ViewBag.Title = "AddVehicle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AddVehicle</h2>
<br />
<div class="container">
    <div class="col-md-12">

        @using (Html.BeginForm("AddVehicle", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="row">
                <div class="col-md-3 form-group">
                    @Html.LabelFor(m => m.Vehicle.Make)
                    <br />
                    @Html.DropDownListFor(m => m.Vehicle.Make, Model.AllMakes, new { @class = "form-control" })
                </div>
                <div class="col-md-3 form-group">
                    @Html.LabelFor(m => m.Vehicle.Model)
                    <br />
                    @Html.DropDownListFor(m => m.Vehicle.Model, Model.AllModels, new { @class = "form-control" })
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-3 form-group">
                    @Html.LabelFor(m => m.Vehicle.IsNew)
                    <br />
                    <select id="Vehicle_IsNew" name="Vehicle.IsNew" class="form-control">
                        <option value="true">New</option>
                        <option value="false">Used</option>
                    </select>
                </div>
                <div class="col-md-3 form-group">
                    @Html.LabelFor(m => m.Vehicle.BodyStyle)
                    <br />
                    @Html.DropDownListFor(m => m.Vehicle.BodyStyle, Model.AllBodyStyles, new { @class = "form-control" })
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-3 form-group">
                    @Html.LabelFor(m => m.Vehicle.Year)
                    <br />
                    @Html.TextBoxFor(m => m.Vehicle.Year, new { @class = "form-control" })
                </div>
                <div class="col-md-3 form-group">
                    @Html.LabelFor(m => m.Vehicle.Trans)
                    <br />
                    @Html.DropDownListFor(m => m.Vehicle.Trans, Model.AllTransmissions, new { @class = "form-control" })
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-3 form-group">
                    @Html.LabelFor(m => m.Vehicle.Color)
                    <br />
                    @Html.DropDownListFor(m => m.Vehicle.Color, Model.AllColors, new { @class = "form-control" })
                </div>
                <div class="col-md-3 form-group">
                    @Html.LabelFor(m => m.Vehicle.Interior)
                    <br />
                    @Html.DropDownListFor(m => m.Vehicle.Interior, Model.AllInteriors, new { @class = "form-control" })
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-3 form-group">
                    @Html.LabelFor(m => m.Vehicle.Mileage)
                    <br />
                    @Html.TextBoxFor(m => m.Vehicle.Mileage, new { @class = "form-control" })
                </div>
                <div class="col-md-3 form-group">
                    @Html.LabelFor(m => m.Vehicle.VinNumber)
                    <br />
                    @Html.TextBoxFor(m => m.Vehicle.VinNumber, new { @class = "form-control" })
                </div>
            </div>

            <div class="row">
                <div class="col-md-3 form-group">
                    @Html.LabelFor(m => m.Vehicle.SalePrice)
                    <br />
                    @Html.TextBoxFor(m => m.Vehicle.SalePrice, new { @class = "form-control" })
                </div>
                <div class="col-md-3 form-group">
                    @Html.LabelFor(m => m.Vehicle.MSRP)
                    <br />
                    @Html.TextBoxFor(m => m.Vehicle.MSRP, new { @class = "form-control" })
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 form-group">
                    @Html.LabelFor(m=>m.Vehicle.Description)
                    <br />
                    @Html.TextAreaFor(m=>m.Vehicle.Description, new { @class="form-control", @style= "min-width:100%; min-height:40%;",  @rows="8" })
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 form-group">
                    @Html.TextBox("file", "", new { type = "file" })<br />
                    <br />
                    @Html.LabelFor(m=>m.Vehicle.IsFeatured)
                    @Html.CheckBoxFor(m=>m.Vehicle.IsFeatured)
                    @Html.LabelFor(m => m.Vehicle.InStock)
                    @Html.CheckBoxFor(m => m.Vehicle.InStock)
                    <br />
                    <input type="submit" value="Save" />
                </div>
            </div>

        }

    </div>
</div>
