@model CarDealership.Models.Vehicle
<div class="col-md-12 newVehiclebox">
    <div class="col-md-3" id="ImageDiv">
        <img src="~/@Model.Image" style="height:200px; width:200px; padding-top:2%;" />
    </div>
    <div class="col-md-3" style="text-align:center; padding-top:2%">
        <div>
            <span><label style="padding-right:2%">Body Style:</label><label id="bodystyle">@Model.BodyStyle</label></span>
        </div>
        <br />
        <div>
            <span><label style="padding-right:2%">Trans:</label><label id="trans">@Model.Trans</label></span>
        </div>
        <br />
        <div>
            <span><label style="padding-right:2%">Color:</label><label id="color">@Model.Color</label></span>
        </div>
    </div>
    <div class="col-md-3" style="text-align:center; padding-top:2%">
        <div>
            <span><label style="padding-right:2%">Interior:</label><label id="interior">@Model.Interior</label></span>
        </div>
        <br />
        <div>
            <span><label style="padding-right:2%">Mileage:</label><label id="mileage">@Model.Mileage</label></span>
        </div>
        <br />
        <div>
            <span><label style="padding-right:2%">VIN #:</label><label id="vin#">@Model.VinNumber</label></span>
        </div>
    </div>
    <div class="col-md-3" style="text-align:center; padding-top:2%">
        <div>
            <span><label>Sale Price:</label><label id="SalePrice">$@Model.SalePrice</label></span>
        </div>
        <br />
        <div>
            <span><label>MSRP:</label><label id="msrp">@Model.MSRP</label></span>
        </div>
        <br />
        <div><a class="btn btn-sm" href="~/Inventory/Details/@Model.Id">Details</a></div>
    </div>
</div>

